@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-image: url(/css/images/test_image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    overflow:hidden;
    height:100vh;
    font-family: 'Roboto', sans-serif;
}

.container{
    color:whitesmoke;
    margin: 2vh;
    padding: 2rem 4rem;
    font-family: 'Merriweather', serif;
}

.current_data{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_data{
    font-weight: 100;
}
.date_data .time{
    font-size: 70px;
}

.date_data #AM-PM{
    font-size: 30px;
    margin-left: 5px;
}

.date_data .date{
    font-size: 30px;
}

.place_data{
    text-align: end;
}

.place_data .time_zone{
    font-size: 30px;
    font-weight: 100;
}

.place_data .country{
    font-size: 12px;
    font-weight: 700;
}

.current_data .current_weather_data{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding:20px;
    border-radius: 20px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position:fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.forecast .weather_forecast{
    display: flex;
}

.weather_forecast .forecast_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.forecast .forecast_item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.forecast .forecast_item .temp{
    font-weight: 100;
    font-size: 12px;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .forecast .today .temp{
        font-size: 16px;
    }

    .date_data .time{
        font-size: 50px;
    }

    .date_data #am-pm{
        font-size: 20px;
    }

    .date_data .date{
        font-size: 20px;
    }

    .place_data{
        text-align: end;
        margin-top: 15px;
    }

    .place_data .time_zone{
        font-size: 20px;
    }

    .current_data .others{
        padding: 12px;
    }

    .current_data .others .weather_item{
        font-size: 14px;
    }

}
